<div class="content">
  <h1>Deterministic Channels</h1>
  <span>Now we turn our attention to the information leakage caused by a system C that processes a secret X. 2 In the first part of this book, we consider systems that take a secret X as input and whose only publicly observable behavior is to produce an output Y ; such systems are known as channels. In this section we restrict our attention to deterministic channels, where each input value x leads to a unique output value y, which we describe as C(x)=y.</span>
  <span>Returning to our dice example, we suppose that C takes as input the value (r,w) of X and outputs the sum of the two dice, so that C(r,w) = r+w. (From a security perspective, we can think of C as a malicious program that leaks the sum of the digits of a PIN.)Returning to our dice example, we suppose that C takes as input the value (r,w) of X and outputs the sum of the two dice, so that C(r,w) = r+w. (From a security perspective, we can think of C as a malicious program that leaks the sum of the digits of a PIN.)</span>
  <span>Here the space Y of possible output values is {{'{2,3,4,...,12}'}}', and the effect is to partition the space X into blocks consisting of the pairs of dice that sum to each of those values:</span>
  <img class="image" src="/assets/images/2_n.png" alt="image">
  <span>That partition reflects the 11 possible states of knowledge, or “worlds”, that an
    adversary seeing the output of C can end up in. Note that those blocks are not equally
    good from the adversary’s perspective: the blocks when Y is 2 or 12 are singletons,
    meaning that the value of X is known exactly, while the block when Y is 7 has size 6,
    meaning that the value of X remains quite uncertain.</span>
  <span>
    Thinking about deterministic channels in general, we note that many partitions are
possible. At one extreme, the partition might consist of a single block, which contains
all of X. That happens when the channel is a constant function, giving the same
output on all inputs, which means that there is no leakage at all. Later we will call it the “identity” channel, because it does not change the adversary’s state of knowledge.
At the other extreme, the blocks in the partition might all be singletons. That happens
when the channel is a one-to-one function, which means that X is leaked completely.
It will be called the “zero” channel because of its secrecy-annihilating property. But
in general the partition consists of a number of blocks of varying sizes, as in our dice
channel C.
  </span>
</div>
