<h1>Posterior distributions and hyper-distributions</h1>
<span>To understand the effect of the partition more precisely, we must also pay attention
  to probabilities. First, note that each block in the partition gives rise to a posterior
  distribution on X: the set of possible values of X is restricted to the elements of the
  block, and the relative likelihood of those values is the same as in the prior distribution.
  In our dice example we are assuming a uniform prior distribution ϑ, which means that
  each of the 11 posterior distributions is also uniform. Second, note that each posterior
  distribution itself has a probability of occurring, which comes from the probability
  of the output value from which that posterior was deduced. That is in effect the
  probability that the adversary will find herself in that world. The result is that channel
  C maps the prior distribution ϑ to a distribution on posterior distributions, which we
  call a hyper-distribution and denote by [ϑ▷C].</span>
<br/><br/>
<h2>Demo</h2>
<span>In this demo you can see the probability of discovering a secret, as in our example, knowing only one information about it. In this case, knowing the sum of the secret values, we have a definite number of possible outcomes. </span>
<div class="container">
  <div class="container-a">
    <button mat-raised-button color="primary" (click)="roll()">Try it</button>
    <div class="dice-container">
      <app-dice [face]="face1"></app-dice>
      <app-dice [face]="face2" [type]="2"></app-dice>
    </div>
    <span *ngIf="leak > 0">Probability: {{(outcomes[leak-2].length)}}/36</span>
  </div>
  <div class="container-b">
    <div *ngIf="leak > 0">
      <span>Leaked info:  C(r,w) =<span>{{leak}}</span></span><br>
      <span>Possible outcomes:</span>
      <div class="outcomes-container">
        <div class="outcome-container" *ngFor="let faces of outcomes2; index as i;" [class.outcome-container-valid]=isValid(faces)>
          <app-dice [face]="faces[0]" [small]=true></app-dice>
          <app-dice [face]="faces[1]" [type]="2" [small]=true></app-dice>
        </div>
      </div>
    </div>
  </div>
</div>
