.container {
  display: flex;
  flex-direction: row;
}

.container-a, .container-b {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.dice-container {
  display: flex;
  flex-direction: row;
}

.outcome-container {
  display: flex;
  flex-direction: row;
  border: 1px black solid;
  border-radius: 5px;
  margin: 0.5em;

  &-valid {
    background-color: lightgreen;
  }
}

.outcomes-container {
  grid-auto-flow: column;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
