<div #dice class="dice dice-one" [ngClass]="small ? 'dice--small' : ''">
  <div id="dice-one-side-one" class='side one' [ngClass]="type == 1 ? 'side--red' : 'side--white'">
    <div class="dot one-1" [ngClass]="type == 1 ? 'dot--red' : 'dot--white'"></div>
  </div>
  <div id="dice-one-side-two" class='side two' [ngClass]="type == 1 ? 'side--red' : 'side--white'">
    <div class="dot two-1" [ngClass]="type == 1 ? 'dot--red' : 'dot--white'"></div>
    <div class="dot two-2" [ngClass]="type == 1 ? 'dot--red' : 'dot--white'"></div>
  </div>
  <div id="dice-one-side-three" class='side three' [ngClass]="type == 1 ? 'side--red' : 'side--white'">
    <div class="dot three-1" [ngClass]="type == 1 ? 'dot--red' : 'dot--white'"></div>
    <div class="dot three-2" [ngClass]="type == 1 ? 'dot--red' : 'dot--white'"></div>
    <div class="dot three-3" [ngClass]="type == 1 ? 'dot--red' : 'dot--white'"></div>
  </div>
  <div id="dice-one-side-four" class='side four' [ngClass]="type == 1 ? 'side--red' : 'side--white'">
    <div class="dot four-1" [ngClass]="type == 1 ? 'dot--red' : 'dot--white'"></div>
    <div class="dot four-2" [ngClass]="type == 1 ? 'dot--red' : 'dot--white'"></div>
    <div class="dot four-3" [ngClass]="type == 1 ? 'dot--red' : 'dot--white'"></div>
    <div class="dot four-4" [ngClass]="type == 1 ? 'dot--red' : 'dot--white'"></div>
  </div>
  <div id="dice-one-side-five" class='side five' [ngClass]="type == 1 ? 'side--red' : 'side--white'">
    <div class="dot five-1" [ngClass]="type == 1 ? 'dot--red' : 'dot--white'"></div>
    <div class="dot five-2" [ngClass]="type == 1 ? 'dot--red' : 'dot--white'"></div>
    <div class="dot five-3" [ngClass]="type == 1 ? 'dot--red' : 'dot--white'"></div>
    <div class="dot five-4" [ngClass]="type == 1 ? 'dot--red' : 'dot--white'"></div>
    <div class="dot five-5" [ngClass]="type == 1 ? 'dot--red' : 'dot--white'"></div>
  </div>
  <div id="dice-one-side-six" class='side six' [ngClass]="type == 1 ? 'side--red' : 'side--white'">
    <div class="dot six-1" [ngClass]="type == 1 ? 'dot--red' : 'dot--white'"></div>
    <div class="dot six-2" [ngClass]="type == 1 ? 'dot--red' : 'dot--white'"></div>
    <div class="dot six-3" [ngClass]="type == 1 ? 'dot--red' : 'dot--white'"></div>
    <div class="dot six-4" [ngClass]="type == 1 ? 'dot--red' : 'dot--white'"></div>
    <div class="dot six-5" [ngClass]="type == 1 ? 'dot--red' : 'dot--white'"></div>
    <div class="dot six-6" [ngClass]="type == 1 ? 'dot--red' : 'dot--white'"></div>
  </div>
</div>
