<div class="content">
  <h1>{{'INTRO' | translate}}</h1>
  <span>Information Flow is the transfer of information from a source (who knows the
    information) to a target (who does not yet know it). In history, that topic has
    sometimes been studied in order to impede flow (e.g. Caesar’s Cipher from millennia
    ago), and sometimes to facilitate it (e.g. Shannon’s work in the 1940’s). Usually,
    however, the aims are a careful mixture of the two: to let information flow to those
    who need to know it, but to keep it from those who must not have it. That is the
    focus of our contemporary perspective –facilitate some flows, impede others– and our
    main (but not exclusive) concern here is computer systems.</span>
  <span>But first: what is so special about now? Information-flow security is a critical problem
    today because of recent technological developments and their –largely uncontrolled–
    spread to many hands: all the way from everyday home users to super-skilled hackers,
    and all over the earth. Data is being collected more than ever before (smart phones,
    surveillance cameras, “loyalty” cards); networks then enable its transmission to unknown
    (or unintended) destinations; and powerful corporate and governmental agents
    gain financial and/or political benefits by collecting and analyzing that data. And, of
    course, there are the criminals.</span>
  <span>Because so much is flowing, and so many have access to it, and we know so little
    specifically about who they are, we can no longer protect our information by relying
    on the people through whose hands it passes. Thus the standard technologies like
    access control and encryption are insufficient, because there we require the entities
    granted access to our data to handle it appropriately, and that implied trust might
    well be misplaced: a smartphone app could legitimately need access to our location,
    for example, but then leak that information to some other party, perhaps maliciously
    — but also perhaps just by accident.</span>
  <span>Thus instead we must try to generate, process, and transfer our data with systems
    that protect themselves, that are safe no matter who accesses them or how they
    might abuse that access. It demands a fundamental, rigorous approach; and that
    fundamental rigor is exactly the science that we are striving for.</span>
  <img class="image" src="/assets/images/personal-data.png" alt="image">
  <span>
    {{'INTRO-1' | translate }}
  </span>
  <span>
    {{'INTRO-2' | translate }}
  </span>
</div>
