.example-spacer {
  flex: 1 1 auto;
}

.outlet {
  display: flex;
}

.arrow {
  padding: 5px;
  display: flex;
  height: calc(100vh - 114px);
  align-items: center;
  margin: 5px;
  cursor: pointer;

  :hover {
    color: #4caf50;
  }
}

.content {
  width: 100%;
  padding: 1em;
}

.image {
  width: auto;
  height: 60px;
}

.toolbar {
  height: 70px;
  padding: 33px;

  .mat-select {
    width: auto;
  }
}
